.vscode
.DS_Store
.ruff_cache/
__pycache__
create_db
src/search_vulns/modules/nvd/create_db_source/json/
src/search_vulns/modules/nvd/create_db_source/build/
src/search_vulns/modules/nvd/create_db_source/mariadb-connector-cpp/
src/search_vulns/modules/nvd/create_db_source/SQLiteCpp
vulndb.db3
vulndb.db3.update
cveid_to_edbid.json
node_modules
search_vulns_api.db3
cpe-search-dictionary.db3
productdb.db3
productdb.db3.update
deprecated-cpes.json
update_logs
src/search_vulns/.is_installed
dist/
pkg_cpe_map.json
