.vscode
.DS_Store
.ruff_cache/
__pycache__
create_db
db_build/core/build_source_cpp/build/
db_build/core/build_source_cpp/json/
db_build/core/build_source_cpp/mariadb-connector-cpp/
modules/nvd/create_db_source/json/
modules/nvd/create_db_source/build/
modules/nvd/create_db_source/mariadb-connector-cpp/
vulndb.db3
vulndb.db3.update
cveid_to_edbid.json
web_server_files/node_modules/
search_vulns_api.db3
cpe-search-dictionary.db3
productdb.db3
productdb.db3.update
deprecated-cpes.json
update_logs
