/* Change padding of navbar */
.navbar {
    padding: 0.5rem 1.5rem;
}

.navbar-brand {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}


/* Vuln CVSS badges */
.badge-critical {
    background-color: rgb(225, 114, 225);
    color: #313233;
}

.badge-high {
    background-color: rgb(255, 117, 117);
    color: #313233;
}

.badge-medium {
    background-color: rgb(253, 205, 114);
    color: #313233;
}

.badge-low {
    background-color: rgb(255, 255, 162);
    color: #313233;
}


/* Rounded table, from: https://gist.github.com/farhang/99a9128fbd3c5a9e9ea5c1b054b59d94 */
.table-rounded thead th {
    border: none;
}

.table-rounded thead th:first-child {
    border-radius: 0.8rem 0 0 0;
    background-color: #d7d4d4 !important;
}

.table-rounded thead th:last-child {
    border-radius: 0 0.8rem 0 0;
    background-color: #d7d4d4 !important;
}

.table-rounded tbody td {
    border: none;
}

.table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 0.8rem;
}

.table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 0.8rem 0;
}


/* Custom text-wrap classes, from: https://stackoverflow.com/questions/41313174/bootstrap-text-nowrap-class-not-responsive */
/* Small */
@media (max-width: 991px) {
    .text-nowrap {
        white-space: normal !important;
    }
}


/* Misc */
.bg-darker {
    background-color: #d7d4d4 !important;
}
