/* Change padding of navbar */
.navbar {
    padding: 0.5rem 1.5rem;
}

.navbar-brand {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}


/* Vuln CVSS badges */
.badge-critical {
    background-color: rgb(225, 114, 225);
    color: #313233;
}

.badge-high {
    background-color: rgb(255, 117, 117);
    color: #313233;
}

.badge-medium {
    background-color: rgb(253, 205, 114);
    color: #313233;
}

.badge-low {
    background-color: rgb(255, 255, 162);
    color: #313233;
}


/* Rounded table */
.table-rounded thead tr th {
    background-color: #d7d4d4 !important;
}

.table-rounded tr:nth-child(even) {
    background-color: rgba(0,0,0,.05);
}

.table-rounded thead tr th:first-child {
    border-radius: 0.8rem 0 0 0;
}

.table-rounded thead tr {
    border-radius: 0.8rem 0 0 0.8rem;
}

.table-rounded thead tr th:last-child {
    border-radius: 0 0.8rem 0 0;
}

.table-rounded tr:last-child td:first-child {
    border-radius: 0 0 0 0.8rem;
}

.table-rounded tr:last-child td:last-child {
    border-radius: 0 0 0.8rem 0;
}


/* Uncertain vulnerability table row */
.uncertain-vuln {
    background-color: rgba(255, 217, 180, 0.82) !important;
    opacity: 75%;
}


/* Custom text-wrap classes, from: https://stackoverflow.com/questions/41313174/bootstrap-text-nowrap-class-not-responsive */
/* Small */
@media (max-width: 991px) {
    .text-nowrap {
        white-space: normal !important;
    }
}

/* Custom Tooltip Config /*
/* Small */
@media (max-width: 991px) {
    .tooltip-info {
        max-width: 20rem !important;
    }
    .tooltip-cvss {
        max-width: 22rem !important;
    }
}

/* Bigger */
@media (min-width: 992px) {
    .tooltip-info {
        max-width: 20rem !important;
    }
    .tooltip-cvss {
        max-width: 22rem !important;
    }
}

/* Misc */
.bg-darker {
    background-color: #d7d4d4 !important;
}

button[data-id="select-export-fields"] {
    min-width: 15rem;
}
